{%- macro render_val(val) -%}
{%-   if val is list %}
{{-     val | join(" ") }}
{%-   else %}
{{-     val }}
{%-   endif %}
{%- endmacro -%}

{%- for var, val in config.items() %}{{ var | upper }}={{ render_val(val) }}
{% endfor %}
