# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Set default values.
---
values:
  lookup:
    m1: {{ 'Apple' in grains['cpu_model'] }}
    rootgroup: {{ salt['cmd.run']("stat -f '%Sg' /dev/console") }}
    user: {{ salt['cmd.run_stdout']('id -n -u $(stat -f "%u" /dev/console)',
      python_shell=true) }}
...
